ipython
jupyterlab
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
ruff
scikit-learn
transformers
torch
tensorflow
mlflow
fastapi
uvicorn
dvc
dvc-gdrive
kaggle
cookiecutter
cookiecutter-data-science
-e .
